body {
    background-color: antiquewhite;
}

#borderDiv {
    height:auto;
    width: 300px;
    border: 1px red solid;
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
}

button {
    height: 5rem;
    width: 5rem;
    border: red 1px solid;
    background-color: black;
    color: white;
    border-radius: 1rem;
    display: flex;
    padding: 10px;
    margin: 10px;
    align-items: center;
    }

#displayNum {
    height: 5rem;
    width: 5rem;
    border: red 1px solid;
    border-radius: 1rem;
    text-align: center;
}